apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: {{ template "dex.fullname" . }}
  labels:
    app: {{ template "dex.name" . }}
    env: {{ default "dev" .Values.global.deployEnv }}
    chart: {{ template "dex.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
  annotations:
    scheduler.alpha.kubernetes.io/critical-pod: ''
spec:
  replicas: {{ .Values.replicaCount }}
  minReadySeconds: 30
  strategy:
    rollingUpdate:
      maxUnavailable: 0
  selector:
    matchLabels:
      app: {{ template "dex.name" . }}
      env: {{ default "dev" .Values.global.deployEnv }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ template "dex.name" . }}
        env: {{ default "dev" .Values.global.deployEnv }}
        release: {{ .Release.Name }}
    spec:
      volumes:
      - name: config
        configMap:
          name: {{ template "dex.fullname" . }}
          items:
          - key: config.yaml
            path: config.yaml
      serviceAccountName: {{ template "dex.serviceAccountName" . }}
      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        command: ["/usr/local/bin/dex", "serve", "/etc/dex/config.yaml"]
        env:
        {{- range $key, $value := .Values.envSecrets }}
        - name: {{ $key }}
          valueFrom:
            secretKeyRef:
              name: {{ template "dex.fullname" $ }}
              key: {{ template "dex.envkey" $key }}
        {{- end }}
        ports:
        - name: http
          containerPort: 5556
          protocol: TCP
        livenessProbe:
          httpGet:
            path: /healthz
            port: 5556
          initialDelaySeconds: 5
          timeoutSeconds: 1
        volumeMounts:
        - name: config
          mountPath: /etc/dex
        resources:
{{ toYaml .Values.resources | indent 10 }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 6 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 6 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 6 }}
    {{- end }}
