{{ define "kubeconfig-tab-content" }}
    <h3>Put this into ~/.kube/config</h3>
    <div class="command">

        <button class="btn" style="float:right" data-clipboard-snippet="">
            <img class="clippy" width="13" src="{{ .Web_Path_Prefix }}static/clippy.svg" alt=""/>
        </button>
        <pre><code>
apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ b64enc .K8sCaPem }}
    server: {{ .K8sMasterURI }}
  name: {{ .ClusterName }}
contexts:
- context:
    cluster: {{ .ClusterName }}
    user: {{ .Username }}-{{ .ClusterName }}
  name: {{ .Username }}-{{ .ClusterName }}
current-context: {{ .Username }}-{{ .ClusterName }}
kind: Config
preferences: {}
users:
- name: {{ .Username }}-{{ .ClusterName }}
  user:
    auth-provider:
      config:
        client-id: {{ .ClientID }}
        client-secret: {{ .ClientSecret }}
        id-token: {{ .IDToken }}
        idp-issuer-url: {{ .Issuer }}
        refresh-token: {{ .RefreshToken }}
      name: oidc
        </code></pre>
    </div>

{{ end }}