<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Kubernetes Configuration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/main.css" rel="stylesheet" type="text/css">
    <link href="/static/styles.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/static/favicon.png">

  

    <style>
      body {font-family: Arial;}
      
      /* Style the tab */
      .tab {
          overflow: hidden;
          border: 1px solid #ccc;
          background-color: #f1f1f1;
      }
      
      /* Style the buttons inside the tab */
      .tab button {
          background-color: inherit;
          float: left;
          border: none;
          outline: none;
          cursor: pointer;
          padding: 14px 16px;
          transition: 0.3s;
          font-size: 17px;
      }
      
      /* Change background color of buttons on hover */
      .tab button:hover {
          background-color: #ddd;
      }
      
      /* Create an active/current tablink class */
      .tab button.active {
          background-color: #ccc;
      }
      
      /* Style the tab content */
      .tabcontent {
          display: none;
          padding: 6px 12px;
          border: 1px solid #ccc;
          border-top: none;
      }

      div.groups {
         
          border: 1px solid #ccc;
          background-color: #f1f1f1;
          margin-bottom: 15px;
      }

      div.command {
        margin-top: 15px;
      }

      pre {
        margin-right: 35px;
      }
      </style>

  </head>

<body class="theme-body">
  <div class="theme-navbar">
    {{ if .LogoURI }}
    <div class="theme-navbar__logo-wrap">
        <img class="theme-navbar__logo" src="{{ .LogoURI }}"/>
    </div>
    {{ end }}
  </div>

  <div class="dex-kubeconfig-container">
    <div class="theme-panel">
      <div style="float:right">
        <a href="/">Login Again</a>
      </div>
      <h2 class="theme-heading">Generated Kubernetes Token - {{ .ShortDescription }}</h2>

      <div>
       
        <p>Your token for this cluster has been generated.</p>

        <p>Please check that you have been assigned to the expected Groups, then follow the instructions
          based on your OS.
        </p>

        <div class="groups">
        <pre><code>{{ .Claims }}</code></pre>
        </div>

        <div class="tab">
          <button class="tablinks active" onclick="openTab(event, 'Linux')">Linux</button>
          <button class="tablinks" onclick="openTab(event, 'MacOS')">MacOS</button>
          <button class="tablinks" onclick="openTab(event, 'Windows')">Windows</button>
        </div>
        </div>
        <div id="Linux" class="tabcontent" style="display: block">
            {{ if .IDPCaURI }}
            <h3>Copy IDP CA Certificate</h3>
    
            <p>Copy this CA Certificate and download it to your .kube directory</p>
            <div class="command">
              <button class="btn" style="float:right" data-clipboard-snippet="">
                <img class="clippy" width="13" src="/static/clippy.svg" alt="Copy to clipboard"/>
              </button>

              <pre><code>curl --create-dirs -s {{ .IDPCaURI }} -o ~/.kube/certs/{{ .ClusterName }}/idp-ca.crt</code></pre>
            </div>
            {{ end }}
    
            {{ if .K8sCaURI }}
            <h3>Copy Kubernetes CA Certificate From URL</h3>
    
            <p>Copy this CA Certificate and download it to your .kube directory</p>
            <div class="command">
            <button class="btn" style="float: right" data-clipboard-snippet="">
              <img class="clippy" width="13" src="/static/clippy.svg" alt="Copy to clipboard"/>
            </button>
            <pre><code>curl --create-dirs -s {{ .K8sCaURI }} -o ${HOME}/.kube/certs/{{ .ClusterName }}/k8s-ca.crt</code></pre>
            </div>
            {{ end }}
    
            {{ if .K8sCaPem }}
            <h3>Copy Kubernetes CA Certificate From PEM</h3>
    
            <p>Put the CA Certificate into your .kube directory</p>
            
            <div class="command">
              
              <button class="btn" style="float:right" data-clipboard-snippet="">
                <img class="clippy" width="13" src="/static/clippy.svg" alt="Copy to clipboard"/>
              </button>
              <pre><code>mkdir -p ${HOME}/.kube/certs/{{ .ClusterName }}/ || true cat &lt;&lt; EOF &gt; ${HOME}/.kube/certs/{{ .ClusterName }}/k8s-ca.crt
    {{ .K8sCaPem }}EOF</code></pre>

            {{ end }}
            
            <h3>Run configuration commands</h3>
    
            <p>These commands will update <tt>~/.kube/config</tt></p>
            
            <div class="command">
              <button class="btn" style="float:right" data-clipboard-snippet="">
                <img class="clippy" width="13" src="/static/clippy.svg" alt="Copy to clipboard">
              </button>
            <pre><code>kubectl config set-cluster {{ .ClientID }} \
    --certificate-authority=${HOME}/.kube/certs/{{ .ClusterName}}/k8s-ca.crt \
    --server={{ .K8sMasterURI }}</code></pre>
            </div>

            <div class="command">
            <button class="btn" style="float:right" data-clipboard-snippet="">
              <img class="clippy" width="13" src="/static/clippy.svg" alt="Copy to clipboard"/>
            </button>
            <pre><code>kubectl config set-credentials {{ .Username }}-{{ .ClientID }}\
    --auth-provider=oidc \
    --auth-provider-arg=idp-issuer-url={{ .Issuer }} \
    --auth-provider-arg=client-id={{ .ClientID }} \
    --auth-provider-arg=client-secret={{ .ClientSecret }} \
    --auth-provider-arg=refresh-token={{ .RefreshToken }} \
    --auth-provider-arg=id-token={{ .IDToken }}
            {{- if .IDPCaURI }} \
    --auth-provider-arg=idp-certificate-authority=${HOME}/.kube/certs/{{ .ClusterName }}/idp-ca.crt
            {{- end }}
            </code></pre>
            </div>

            <div class="command">
          
              <button class="btn" style="float:right" data-clipboard-snippet="">
                <img class="clippy" width="13" src="/static/clippy.svg" alt="Copy to clipboard">
              </button>
              <pre><code class="hljs">kubectl config set-context {{ .Username }}-{{ .ClientID }} \
    --cluster={{ .ClientID }}\
    --user={{ .Username}}-{{.ClientID }}</code></pre>
            </div>

            <div class="command">
              <button class="btn" style="float:right" data-clipboard-snippet=""><img class="clippy" width="13" src="/static/clippy.svg" alt="Copy to clipboard"></button>
              <pre><code class="hljs">kubectl config use-context {{ .Username }}-{{ .ClientID}}</code></pre>          
            </div>           
          </div>
        </div>
          
        <div id="MacOS" class="tabcontent">
          <h3>MacOS</h3>
          <p>MacOS Blurb</p> 
        </div>
        
        <div id="Windows" class="tabcontent">
          <h3>Windows</h3>
          <p>Windows Blurb</p>
        </div>
        
     
    </div>
  </div>




  <script src="/static/highlight.pack.min.js"></script>
  <script src="/static/clipboard.min.js"></script> 
  <script src="/static/snippets.js"></script>
  <script src="/static/tooltips.js"></script>
  <script>
      var clipboard = new ClipboardJS('.btn');
      clipboard.on('success', function(e) {
          console.log(e);
      });
      clipboard.on('error', function(e) {
          console.log(e);
      });
  </script>

  <script>
      function openTab(evt, tabName) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
              tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
              tablinks[i].className = tablinks[i].className.replace(" active", "");
          }
          document.getElementById(tabName).style.display = "block";
          evt.currentTarget.className += " active";
      }
  </script>

</body>
</html>
