<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />

  <title>Kubernetes Configuration</title>
  <link href="/static/main.css" rel="stylesheet" type="text/css" />
  <link href="/static/styles.css" rel="stylesheet" type="text/css" />
  <link rel="icon" href="/static/favicon.png" />
</head>

<body class="theme-body">
  <div class="theme-navbar">
    {{ if .LogoURI }}
    <div class="theme-navbar__logo-wrap">
        <img class="theme-navbar__logo" src="{{ .LogoURI }}"/>
    </div>
    {{ end }}
  </div>

  <div class="dex-kubeconfig-container">
    <div class="theme-panel">
      <div style="float:right">
        <a href="/">Login Again</a>
      </div>
      <h2 class="theme-heading">Generated Kubernetes Token - {{ .ClusterName }}</h2>

      <div>
        <p>Your token for this cluster has been generated, please follow the steps
        below.</p>

        {{ if .IDPCaURI }}
        <h3>Copy IDP CA Certificate</h3>

        <p>Copy this CA Certificate and download it to your .kube directory</p>
        <pre>curl --create-dirs -s {{ .IDPCaURI }} -o ~/.kube/certs/{{ .ClusterName }}/idp-ca.crt</pre>
        {{ end }}

        {{ if .K8sCaURI }}
        <h3>Copy Kubernetes CA Certificate</h3>

        <p>Copy this CA Certificate and download it to your .kube directory</p>
        <pre>curl --create-dirs -s {{ .K8sCaURI }} -o ~/.kube/certs/{{ .ClusterName }}/k8s-ca.crt</pre>
        {{ end }}
        
        <h3>Check groups</h3>

        <p>Please check that you have been assigned to the expected Groups</p>
        <pre><code>{{ .Claims }}</code></pre>

        <h3>Run configuration commands</h3>

        <p>These commands will update <tt>~/.kube/config</tt></p>

        <pre><code>kubectl config set-cluster {{ .ClientID }} \
  --certificate-authority=certs/{{ .ClusterName}}/k8s-ca.crt \
  --server={{ .K8sMasterURI }}</code></pre>

        <pre><code>kubectl config set-credentials {{ .Username }}-{{ .ClientID }} \
  --auth-provider=oidc \
  --auth-provider-arg=idp-issuer-url={{ .Issuer }} \
  --auth-provider-arg=client-id={{ .ClientID }} \
  --auth-provider-arg=client-secret={{ .ClientSecret }} \
  --auth-provider-arg=refresh-token={{ .RefreshToken }} \
  --auth-provider-arg=idp-certificate-authority=${HOME}/.kube/certs/{{ .ClusterName }}/idp-ca.crt \
  --auth-provider-arg=id-token={{ .IDToken }}</code></pre>

        <pre><code>kubectl config set-context {{ .Username }}-{{ .ClientID }} \
  --cluster={{ .ClientID }} \
  --user={{ .Username}}-{{.ClientID }}</pre></code>
      <pre><code>kubectl config use-context {{ .Username }}-{{ .ClientID}}</pre></code>
      </div>
    </div>
  </div>
</body>
</html>
