{{- if semverCompare ">= 1.9-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: apps/v1
{{- else if semverCompare ">= 1.8-0, <= 1.9-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: apps/v1beta2
{{- else -}}
apiVersion: apps/v1beta1
{{- end }}
kind: Deployment
metadata:
  name: {{ template "dex-k8s-authenticator.fullname" . }}
  labels:
    app: {{ template "dex-k8s-authenticator.name" . }}
    env: {{ default "dev" .Values.global.deployEnv }}
    chart: {{ template "dex-k8s-authenticator.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ template "dex-k8s-authenticator.name" . }}
      env: {{ default "dev" .Values.global.deployEnv }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ template "dex-k8s-authenticator.name" . }}
        env: {{ default "dev" .Values.global.deployEnv }}
        release: {{ .Release.Name }}
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
    spec:
      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        args: [ "--config", "config.yaml" ]
        {{- with .Values.envFrom }}
        envFrom:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        ports:
        - name: http
          containerPort: {{ default "5555" .Values.dexK8sAuthenticator.port }}
          protocol: TCP
        livenessProbe:
          httpGet:
            path: {{ template "dex-k8s-authenticator.healthCheckPath" . }}
            port: http
        readinessProbe:
          httpGet:
            path: {{ template "dex-k8s-authenticator.healthCheckPath" . }}
            port: http
        volumeMounts:
        - name: config
          subPath: config.yaml
          mountPath: /app/config.yaml
{{- if .Values.caCerts.enabled }}
{{- range .Values.caCerts.secrets }}
        - name: {{ template "dex-k8s-authenticator.fullname" $ }}-{{ .name }}
          subPath: {{ .name }}
          mountPath: /certs/{{ .filename }}
{{- end }}
{{- end }}
        resources:
{{ toYaml .Values.resources | indent 10 }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
      {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
{{ toYaml .Values.imagePullSecrets | indent 8 }}
      {{- end }}
      volumes:
      - name: config
        configMap:
          name: {{ template "dex-k8s-authenticator.fullname" . }}
{{- if .Values.caCerts.enabled }}
{{- range .Values.caCerts.secrets }}
      - name: {{ template "dex-k8s-authenticator.fullname" $ }}-{{ .name }}
        secret:
          secretName: {{ template "dex-k8s-authenticator.fullname" $ }}-{{ .name }}
{{- end }}
{{- end }}
